.one-dates {
    background-color: lime;
}

.two-dates {
    background-color: greenyellow;
}

.three-dates {
    background-color: grey;
}

.four-dates {
    background-color: orange;
}

.five-dates {
    background-color: red;
}

.ant-btn:hover {
    border-color: transparent;
}